.container{
    display: flex;
    flex-wrap: wrap;
    
}

.flexitem{
    border: solid black 1px;
    margin: 1rem;
    padding: 2rem;
    border-radius: 3%;
    flex-grow: 1;
    background-color: darkgreen;
}

#simpleForm{
    background-color: darkorange;
}

li:nth-child(odd){
    background-color: firebrick;
}

li:nth-child(even){
    background-color: tan;
}

li:nth-child(4){
    color: orchid;
}

@media (max-width:768px){
    .container{
        display: flex;
        flex-direction: column;
    }
    body {
        background-color: blue;
    }
}